<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>COIMA.com</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <style type="text/css">

        @import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

        ul {
            margin: 0 auto;
            text-align: center;
        }

        li {
            display: inline-block;
            vertical-align: top;
        }

        .bodyType {
            font: normal normal 14px/normal "Times New Roman", Times, serif;
            color: rgba(4,55,73,1);
            background-image: url("http://enjoycss.com/bg-img/custom/22201-aaavzo.png");
        }

        body {
            background-color: #3e94ec;
            font-family: "Roboto", helvetica, arial, sans-serif;
            font-size: 16px;
            font-weight: 400;
            text-rendering: optimizeLegibility;
        }

        .table-title h3 {
            color: #fafafa;
            font-size: 10px;
            font-weight: 400;
            font-style:normal;
            font-family: "Roboto", helvetica, arial, sans-serif;
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
            text-transform:uppercase;
        }

        .table-fill {
            display:inline-block;
            background: white;
            border-collapse: collapse;
            height: 100%;
            max-height: 800px;
            animation: float 5s infinite;
            -o-text-overflow: clip;
            text-overflow: clip;
            text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
            -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-box-shadow:      12px 12px 29px #555;
            -webkit-box-shadow: 12px 12px 29px #555;
            box-shadow:         12px 12px 29px #555;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            overflow-y: auto;
            overflow-x: hidden;
            border: 1px solid #b7b7b7;
            -webkit-border-radius: 3px;
            border-radius: 10px;
        }

        .wide {
            display: inline-block;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            margin: 5%;
            padding: 10px 20px;
            border: 1px solid #b7b7b7;
            -webkit-border-radius: 3px;
            border-radius: 5px;
            background-color: WhiteSmoke;
            color: rgba(4,55,73,1);
            -o-text-overflow: clip;
            text-overflow: clip;
            text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
            -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-box-shadow:      12px 12px 29px #555;
            -webkit-box-shadow: 12px 12px 29px #555;
            box-shadow:         12px 12px 29px #555;
        }

        h1 {
            color : rgba(4,55,73,1);
            font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 40px; font-weight: bold;
        }

        h2 {
            font-family: 'Enriqueta', arial, serif; line-height: 1.25; margin: 0 0 10px; font-size: 20px; font-weight: bold;
        }

        .shadow {
            -o-box-shadow:      12px 12px 29px #555;
            -webkit-box-shadow: 12px 12px 29px #555;
            box-shadow:         12px 12px 29px #555;
        }

        .wideWatMark {
            display: inline-block;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
            margin: 5%;
            padding: 10px 20px;
            border: 1px solid #b7b7b7;
            -webkit-border-radius: 3px;
            border-radius: 5px;
            background-color: WhiteSmoke;
            color: rgba(4,55,73,1);
            -o-text-overflow: clip;
            text-overflow: clip;
            text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
            -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
            -o-box-shadow:      12px 12px 29px #555;
            -webkit-box-shadow: 12px 12px 29px #555;
            box-shadow:         12px 12px 29px #555;
            background-image: url('https://www.themoviedb.org/assets/static_cache/bb45549239e25f1770d5f76727bcd7c0/images/v4/logos/408x161-powered-by-rectangle-blue.png');
            background-position: 95% 50%;
            background-size: 100px 40px;
            background-repeat: no-repeat;
        }

    </style>
</head>
<body class="bodyType">

<div display=" inline-block">

    <div style="width: 60%; float:left">

        <div style="width: 100%;" class = "wideWatMark"><ul><h1><b>{{name}}</b></h1></ul></div>

        <div style="width: 25%; margin:5%; float:left" >
            <img width='315px' class="shadow" src='https://image.tmdb.org/t/p/w500{{profile_path}}'/>
        </div>


        <div class="wide" style="width: 45%; margin: 5% ;float: right">
{{#if birthday}}                <p><b>Birthday:</b> {{birthday}}</p>  {{/if}}
{{#if deathday}}                <p><b>Deathday:</b> {{deathday}}</p>  {{/if}}
{{#if place_of_birth}}                <p><b>Place Of Birth:</b> {{place_of_birth}}</p>  {{/if}}
{{#if homepage}}                <p><b>Homepage:</b> {{homepage}}</p>  {{/if}}
{{#if biography}}                <p><b>Biography:</b> {{biography}}</p>  {{/if}}
        </div>

    </div>
</div>

<div style="width: 30% ;float: right; padding-right: 5%; padding-top:5%">
    <ul>
        <table class="table-fill table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th class="text-left">Movie</th>
                <th class="text-left">Character</th>
            </tr>
            </thead>
            <tbody class="table-hover">
            <tr>
            {{#each cast}}
                <tr>
                    <td><p><a href="http://localhost:3000/MovieDetail?movieId={{id}}">{{title}}</a></p></td>
                    <td>{{character}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>

    </ul>
</div>
</body>
</html>