<html>
<head>

</head>
<body>
<h2>{{title}}:</h2>
<ul>
    <img width='100px' src='{{poster_path}}'/>
    <li>Original Title: {{original_title}}</li>
    <li>Tagline: {{tagline}}</li>
    <li>Genres: {{genres}}</li>
    <li>Original Language: {{original_language}}</li>
    <li>Release Date: {{release_date}}</li>
    <li>Genres: {{#each genres}}
        <tr>
            <td>{{name}}, </td>
        </tr>
        {{/each}}</li>
    <li>Rate: {{vote_average}}</li>
    <li>Overview: {{overview}}</li>
    <li>Cast: </li>
    <table>
        <tr>
            <th>Character</th>
            <th>Name</th>
        </tr>
        {{#each cast}}
        <tr>
            <td>{{character}}</td>
            <td>{{name}}</td>
        </tr>
        {{/each}}
    </table>
</ul>
</body>
</html>